/**********************
Editor
**********************/
.ep-editor { background-color: #D3E9FE; width: 400px; opacity: 0.9; filter:alpha(opacity=90);   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#AECFF0)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #AECFF0);
			-webkit-box-shadow:0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow:0 0 5px Black; }
.ep-editor, .ep-editor .inner { -moz-border-radius:4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
.ep-editor .inner { border-color: White;}
.ep-editor .content { padding: 5px; position: relative; height: 72px; }
.ep-editor button { cursor: pointer; }

.ep-editor .buttons, .ep-editor .dialog { position: absolute; line-height:0.8; width: 365px; border: solid 1px #5C6C7A; background-color: #E7F1FB; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#DCE7F6)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #DCE7F6); }
.ep-editor .buttons {  padding: 5px 0; }
.ep-editor .buttons .buttons-inner { -moz-border-radius:0; -webkit-border-radius: 0; border-radius: 0; overflow: hidden; padding: 0 5px; }
.ep-editor .buttons .group { display: inline-block; border-right: 1px solid #AECFF0; border-left: 1px solid White; }
.ep-editor .buttons .group.first { border-left-width: 0; }
.ep-editor .buttons .group.last { border-right-width: 0; }
.ep-editor .button { float: left; cursor: pointer; padding:1px; height: 28px; }
.ep-editor .button, .ep-editor .button .button-inner { -moz-border-radius:2px 2px 2px 2px; -webkit-border-radius: 2px; border-radius: 2px; } 
.ep-editor .button.hover { border: solid 1px #AABCD5; padding: 0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#C3D5EA)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #C3D5EA); }
.ep-editor .button .button-inner { border-color: White; display: inline-block; border: none; background-color: transparent; padding: 5px 3px;}
.ep-editor .button .icon { width: 16px; height: 16px; background-repeat: no-repeat; } 
.ep-editor .move, .ep-editor .pin { float: right; width: 16px; height: 16px; cursor:pointer; }
.ep-editor .move { background-image: url('../images/arrow-move.png'); cursor:move;}
.ep-editor .pin { background-image: url('../images/pin.png');}
.ep-editor .sidebar { margin-top: 3px;  }
.ep-editor .button .bold { background-image: url('../images/edit-bold.png'); }
.ep-editor .button .italic { background-image: url('../images/edit-italic.png'); }
.ep-editor .button .underline { background-image: url('../images/edit-underline.png'); }
.ep-editor .button .list{ background-image: url('../images/edit-list.png'); }
.ep-editor .button .orderedlist { background-image: url('../images/edit-list-order.png'); }
.ep-editor .button .heading { background-image: url('../images/edit-heading.png'); }
.ep-editor .button .link { background-image: url('../images/globe--arrow.png'); }
.ep-editor .button .subscript { background-image: url('../images/edit-subscript.png'); }
.ep-editor .button .superscript { background-image: url('../images/edit-superscript.png'); }
.ep-editor .button .image { background-image: url('../images/picture--plus.png'); }
.ep-editor .button .code { background-image: url('../images/edit-code.png'); }
.ep-editor .button .align-left { background-image: url('../images/edit-alignment.png'); }
.ep-editor .button .align-center { background-image: url('../images/edit-alignment-center.png'); }
.ep-editor .button .align-right { background-image: url('../images/edit-alignment-right.png'); }
.ep-editor .button .cut { background-image: url('../images/scissors-blue.png'); }
.ep-editor .button .copy { background-image: url('../images/document-copy.png'); }
.ep-editor .button .paste { background-image: url('../images/clipboard-paste.png'); }
.ep-editor .button .blockquote { background-image: url('../images/balloon-quotation.png'); }
.ep-editor .button .paragraph { background-image: url('../images/text.png'); }
.ep-editor .button .html { background-image: url('../images/html.png'); }
.ep-editor .button .cancel { background-image: url('../images/cross-button.png'); }
.ep-editor .button .confirm { background-image: url('../images/tick-button.png'); }


.ep-editor .button .menu { display: none; position: absolute; border: solid 1px #AABCD5; background-color: #E7F1FB; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FAFF), to(#DCE7F6)); background-image: -moz-linear-gradient(top,  #F5FAFF,  #DCE7F6); }
.ep-editor .button .menu .button { font-size: 0.9em; }
.ep-editor .button .menu .icon { width: auto; min-width: 14px; }
.ep-editor .button .menu li { padding: 0; }
.ep-editor .button .menu li.hover { background-color: #C3D5EA; }
.ep-editor .button.hover  .menu { display: inline-block; }


.ep-editor .dialog input { margin: 10px 0 0 10px; float: left; font-size: 0.8em; width: 310px; border: 1px solid #AECFF0; padding: 0; }
.ep-editor .dialog input.short { width: 149px; margin-bottom: 10px; }
.ep-editor .dialog label { display: inline-block; font-size: 0.8em; margin-left: 10px; margin-top: 10px; padding: 3px 0; }
.ep-editor .dialog label .checkbox { width: 10px; margin: 0 5px 0 0; }
.ep-editor .dialog-buttons { float: right; width: 30px; padding: 5px; }

/*image picker */
.ui-imagepicker  { width: 100%; height: 100%; } 
.ui-imagepicker .image-details { padding: 20px; position: relative; }
.ui-imagepicker .image-details  button { bottom: 20px; position: absolute; right: 20px; }
.ui-imagepicker .image-list { padding: 20px 20px 0; height: 227px; position: relative; }
.ui-imagepicker .image-panel { padding:5px; overflow-x: none; overflow-y: scroll; border: 1px solid #9E9E9E; height: 100%; box-shadow: 0 0 2px #AECFF0 inset; }

.ui-imagepicker .ui-thumb { display: inline-block; margin: 3px; cursor: pointer; border: 1px solid White; -moz-border-radius:3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-imagepicker .ui-thumb.hover { border-color: #B8D6FB; }
.ui-imagepicker .ui-thumb.selected { border-color: #7DA2CE; }
.ui-imagepicker .thumb-inner { position: relative; border: 1px solid White; background-color: White; -moz-border-radius:3px; -webkit-border-radius: 3px; border-radius: 3px; }
.ui-imagepicker .ui-thumb.hover .thumb-inner { border-color: #FCFCFE; background-color: #F3F7FD; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FBFD), to(#EBF3FD)); background-image: -moz-linear-gradient(top,  #F9FBFD,  #EBF3FD); }
.ui-imagepicker .ui-thumb.selected .thumb-inner { border-color: #EAF3FD; background-color: #CFE3FC; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DCEAFC), to(#C1DCFC)); background-image: -moz-linear-gradient(top,  #DCEAFC,  #C1DCFC); }
.ui-imagepicker .thumb-frame { position: absolute; overflow: hidden; box-shadow: 1px 1px 3px #000000; top: 22%; left:5%; }

.ui-imagepicker .loading-icon  { background: url("../images/ajax-loader.gif") no-repeat scroll 50% 50% transparent; height: 50px; position: absolute; right: 110px; top: 290px; width: 50px; display: none; }
.ui-imagepicker  .loading .loading-icon { display: block; }

/* code editor */
.ui-codeeditor { width: 100%; height: 100%; } 
.ui-codeeditor .code-details { padding: 30px 20px 20px; position: relative; border-top: 1px solid #DDDDDD; }
.ui-codeeditor .code-details  button { bottom: 20px; position: absolute; right: 20px; }

/* html editor */
.ui-htmleditor { width: 100%; height: 100%; } 
.ui-htmleditor .html-view textarea { width: 730px; height: 355px; }
.ui-htmleditor .html-details { padding: 20px; position: relative; border-top: 1px solid #DDDDDD; height: 50px; }
.ui-htmleditor .html-details  button { bottom: 20px; position: absolute; right: 20px; }

/* link dialog */
.ui-linkdialog {  width: 100%; height: 100%; }
.ui-linkdialog .link-details { padding: 20px; position: relative; }
.ui-linkdialog .link-details button { bottom: 20px; position: absolute; right: 20px; }

.ui-field.inline { display: inline-block; margin-right: 20px; }
.ui-field label { color: #333333; display: block; font-size: 13px; padding: 0.8em 0; }
.ui-field input.medium { width: 250px; }
.ui-field input.long { width: 535px; }
.ui-field  input, .ui-field  select, .ui-field  textarea { border: 1px solid #9E9E9E; color: #333333;font-family: inherit;font-size: inherit;line-height: 1.4375; margin: 0; padding: 3px 5px; width: 15em;}
.ui-field input[type='checkbox'] { width: 20px; border: none;}
.ui-button { border: 1px solid #5F6F7D; cursor: pointer; float: right; margin-left: 10px; padding: 8px 25px; }
