/**********************
Window
**********************/
.ui-window {  background-color: transparent; z-index:100000;
			-webkit-box-shadow:0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow:0 0 5px Black; display: inline-block; padding: 35px 5px 5px; }
.ui-window, .ui-window .inner-window { -moz-border-radius:4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
.ui-window .inner-window { border-color: #EFF6FC; background-color: #AECFF0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D3E9FE), to(#AECFF0)); background-image: -moz-linear-gradient(top,  #D3E9FE,  #AECFF0); 
	position: absolute; top: 0; left: 0; opacity: 0.8; filter:alpha(opacity=80);   }
.ui-window .outer-content  { border: 1px solid #E1EFFD; position: relative; }
.ui-window .inner-content  { border: 1px solid #5F6F7D; background-color: White; }
.ui-window .title-bar { overflow: hidden; padding: 0 5px 10px; position: relative; top: -1px; min-height: 21px; }
.ui-window .title-button { float: right; border: 1px solid #505A64; border-top-width: 0px; border-right-width: 0px; cursor: pointer; }
.ui-window .title-button-inner { border: 1px solid #DCE7F5; background-color: #ADBFD7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3EDF7), to(#ADBFD7)); background-image: -moz-linear-gradient(top,  #E3EDF7,  #ADBFD7); padding: 1px 2px;}
.ui-window .title-button.right, .ui-window .title-button.right .title-button-inner { border-right-width: 1px; -moz-border-radius:0 0 2px 0; -webkit-border-radius: 0 0 2px 0; border-radius: 0 0 2px 0; }
.ui-window .title-button.left, .ui-window .title-button.left .title-button-inner { -moz-border-radius:0 0 0 2px; -webkit-border-radius: 0 0 0 2px; border-radius: 0 0 0 2px; }
.ui-window .title-button-inner .icon { width: 16px; height: 16px; }
.ui-window .title-button.red  .title-button-inner {  border-color: #E2A896; background-color: #D27A69; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E69D8F), to(#B9482E)); background-image: -moz-linear-gradient(top,  #E69D8F,  #B9482E);  }
.ui-window .minimize { background-image: url('../images/minimize.png'); }
.ui-window .pin { background-image: url('../images/pin.png'); }
.ui-window .close { background-image: url('../images/close.png'); }
.ui-window .title-button-hover { -webkit-box-shadow:0 0 8px 3px #6DD0FB; -moz-box-shadow: 0 0 8px 3px #6DD0FB; box-shadow:0 0 8px 3px #6DD0FB; }
.ui-window .title-button-hover .title-button-inner { -webkit-box-shadow:0 -2px 5px 0 #2ED8E5 inset; -moz-box-shadow: 0 -2px 5px 0 #2ED8E5 inset; box-shadow:0 -2px 5px 0 #2ED8E5 inset;
	border-color: #74A9CE; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ACD4ED), to(#2E83BA)); background-image: -moz-linear-gradient(top,  #ACD4ED,  #2E83BA); }
.ui-window .title-button-hover.red { -webkit-box-shadow:0 0 8px 3px #D64310; -moz-box-shadow: 0 0 8px 3px #D64310; box-shadow:0 0 8px 3px #D64310; }
.ui-window .title-button-hover.red .title-button-inner { -webkit-box-shadow:0 -2px 5px 0 #D64310 inset; -moz-box-shadow: 0 -2px 5px 0 #D64310 inset; box-shadow:0 -2px 5px 0 #D64310 inset;
	border-color: #E4A095; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F99C8C), to(#D02304)); background-image: -moz-linear-gradient(top,  #F99C8C,  #D02304); }
.vsplitbar { width: 1px; height: 423px; border-right: solid 1px #D6E5F5; }
	
	
.ui-taskbar { position: fixed; bottom: 0; padding-left: 30px; height: 48px; z-index: 150000; }
.ui-taskbar  .taskbar-item { margin-right: 3px; cursor: pointer; background-color: #3A8AC7; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9AC2DE), to(#3A8AC7)); background-image: -moz-linear-gradient(top,  #9AC2DE,  #3A8AC7);
			-webkit-box-shadow:0 0 5px Black; -moz-box-shadow: 0 0 5px Black; box-shadow:0 0 5px Black; display: inline-block; }
.ui-taskbar .taskbar-item, .ui-taskbar  .taskbar-item .inner-taskbar-item { -moz-border-radius:4px 4px 4px 4px; -webkit-border-radius: 4px; border-radius: 4px; border: solid 1px Black; }
.ui-taskbar .taskbar-item .inner-taskbar-item { border-color: #EFF6FC; padding: 5px 10px;}	
.ui-taskbar .taskbar-item-hover  .inner-taskbar-item { border-color: #E4E3C3; -webkit-box-shadow:0 -2px 5px 0 #E3CCA8 inset; -moz-box-shadow: 0 0 20px 5px #F3EED0 inset; box-shadow:0 -2px 5px 0 #E3CCA8 inset; }
.ui-taskbar .taskbar-icon  { width: 32px; height: 32px; background-repeat: no-repeat; margin: 0 auto; }
.ui-taskbar .tb-eyepatch { background-image: url('../images/skull_and_crossbones.png');  }
.ui-taskbar .tb-folder { background-image: url('../images/folder-large.png'); ; }
