$FONT-SIZE: 12px;
$ASSET-DIR: "../../assets/";
$HEIGHT: 21px;
$NODE-HEIGHT: 16px;
$ICON-WIDTH: 16px;
$ICON-HEIGHT: $NODE-HEIGHT;
$HANDLE-WIDTH: 16px;
$HANDLE-HEIGHT: $NODE-HEIGHT;
$BORDER-COLOR-NODE-HOVER: #7DA2CE;
$BORDER-COLOR-NODE-SELECTED: #B8D6FB;

.ui-tree {
    padding: 10px 3px; 
    font-size: $FONT-SIZE; 
    font-family: Helvetica, sans-serif;
    margin:0;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        display: block; 
        white-space: nowrap; 
        padding: 0; 
        margin: 0; 
    }

    .ui-node {
        height: $HEIGHT;
        padding: 2px 1px;
        position: relative;
        -moz-border-radius:2px 2px 2px 2px;
        -webkit-border-radius: 2px; 
        border-radius: 2px; 

        label {
            display: inline;
            color: #000000;
            padding: 1px 0 1px 5px;
            cursor: pointer;
            vertical-align: middle;
            -webkit-user-select:none;
            -moz-user-select:none; 
            user-select: none;
        }

        input {
            border: 1px solid #646464;
            vertical-align: middle;
            padding: 0;
            height: $HEIGHT; 
            margin-left: 4px;
            outline: none;
            position: absolute;
            top: 0;
            font-size: $FONT-SIZE;
        }

        .ui-handle {
            width: $HANDLE-WIDTH; 
            height: $HANDLE-HEIGHT; 
            display: inline-block; 
            background-repeat: no-repeat; 
            vertical-align: middle;
            background-image: url(#{$ASSET-DIR}#{'folder-arrow.png'});

            &:hover {
                background-position: -16px 0;
            }

            &.ui-no-child {
                background-image: none; 
            }
        }

        .ui-icon  { 
            width: $ICON-WIDTH; 
            height: $NODE-HEIGHT; 
            display: 
            inline-block; 
            vertical-align: middle; 
            cursor: pointer;
        }

        &:hover, &.ui-drop-target {
            padding: 1px 0;
            background-color: #F9FBFD;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FBFD), to(#EBF3FD)); 
            background-image: -moz-linear-gradient(top,  #F9FBFD,  #EBF3FD); 
            border: solid 1px $BORDER-COLOR-NODE-SELECTED;
        }

        &.ui-selected {
            padding: 1px 0;
            background-color: #DBEAFC; 
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DBEAFC), to(#C1DCFC)); 
            background-image: -moz-linear-gradient(top,  #DBEAFC,  #C1DCFC); 
            border: solid 1px $BORDER-COLOR-NODE-HOVER;
        }

        &.open {
            .ui-handle {
                background-position: -32px 0;

                &:hover {
                    background-position: -48px 0;
                }
            }
        }
    }

    /* Node types */
    .folder {
        .ui-icon {
            background-image: url(#{$ASSET-DIR}#{'folder.png'});
        }

        &.open {
            .ui-icon {
                background-image: url(#{$ASSET-DIR}#{'folder-open.png'});
            }
        }
    }

    .group {
        .ui-icon {
            background-image: url(#{$ASSET-DIR}#{'blue-folder.png'});
        }

        &.open {
            .ui-icon {
                background-image: url(#{$ASSET-DIR}#{'blue-folder-open.png'});
            }
        }
    }

    .page {
        .ui-icon {
            background-image: url(#{$ASSET-DIR}#{'document-globe.png'});
        }
    }

    .widget {
        .ui-icon {
            background-image: url(#{$ASSET-DIR}#{'puzzle.png'});
        }
    }
}

.ui-drag-icon {
    width: 35px; 
    height: 35px; 
    padding: 10px;

    opacity: 0.5; 
    filter:alpha(opacity=50); 

    background-color: #C1DBFC; 
    border: solid 1px #B8D6FB; 

    -moz-border-radius:4px 4px 4px 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 

    -moz-box-shadow: 3px 3px 3px #666; 
    -webkit-box-shadow: 3px 3px 3px #666; 
    box-shadow: 3px 3px 3px #666;

    span {
        display: inline-block; 
        width: 35px; 
        height: 35px;
    }

    &.folder {
        span {
            background-image: url(#{$ASSET-DIR}#{'folder-large.png'});
        }
    }

    &.page {
        span {
            background-image: url(#{$ASSET-DIR}#{'blue-document.png'});
        }
    }

    &.widget {
        span {
            background-image: url(#{$ASSET-DIR}#{'puzzle.png'});
        }
    }
}